:root{
    --primary:#fe9800;
    --light:white;
    --dark:#000;
}

body{
    background-color: white;
    text-decoration: none;
}



button{
    background: #f7a01f;
    border: 1px solid #f7a01f;
}

.font{
    font-size: 10px;
}